In [1]:
%matplotlib inline
import pandas as pd

In [4]:
df = pd.read_json('nobel_winners_cleaned.json')

In [14]:
df.iloc[0] #takes int
df.ix[0] #takes string
df.index
ndf = df.set_index('name')
ndf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            848, 849, 850, 851, 852, 853, 854, 855, 856, 857],
           dtype='int64', length=858)

In [6]:
df['country']

0           Argentina
1             Belgium
2             Belgium
3             Belgium
4             Belgium
5             Belgium
6             Belgium
7             Belgium
8             Belgium
9             Belgium
10            Belgium
11            Denmark
12            Denmark
13            Denmark
14            Denmark
15            Denmark
16            Denmark
17            Denmark
18            Denmark
19            Denmark
20            Denmark
21     Czech Republic
22     Czech Republic
23             Cyprus
24             France
25             France
26             France
27             France
28             France
29             France
            ...
828        Bangladesh
829        Azerbaijan
830           Austria
831           Austria
832           Austria
833           Austria
834           Austria
835           Austria
836           Austria
837           Austria
838           Austria
839           Austria
840           Austria
841           Austria
842           Austria
843           Austria
844           Austria
845         Australia
846         Australia
847         Australia
848         Australia
849         Australia
850         Australia
851         Australia
852         Australia
853         Australia
854         Argentina
855         Argentina
856         Argentina
857         Argentina
Name: country, dtype: object

In [17]:
ndf.ix['Albert Einstein']

award_age                                                   42
category                                               Physics
country                                                Germany
date_of_birth                         1879-03-14T00:00:00.000Z
date_of_death                         1955-04-18T00:00:00.000Z
gender                                                    male
link              http://en.wikipedia.org/wiki/Albert_Einstein
place_of_birth        Ulm ,  Baden-Württemberg , German Empire
place_of_death                    Princeton, New Jersey , U.S.
text                           Albert Einstein , Physics, 1921
year                                                      1921
Name: Albert Einstein, dtype: object

In [ ]:
df.sort_values(['year'])

In [18]:
df.groupby('country').count()

,award_age,category,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
country,,,,,,,,,,,
Argentina,5,5,5,4,5,5,5,5,4,5,5
Australia,9,9,9,5,9,9,9,9,5,9,9
Austria,15,15,15,14,15,15,15,14,13,15,15
Azerbaijan,1,1,1,1,1,1,1,1,1,1,1
Bangladesh,1,1,1,0,1,1,1,1,0,1,1
Belgium,10,10,10,9,10,10,10,10,8,10,10
Canada,11,11,11,5,11,11,11,11,5,11,11
Chile,2,2,2,2,2,2,2,2,2,2,2
China,5,5,5,0,5,5,5,5,0,5,5
Colombia,1,1,1,1,1,1,1,1,1,1,1
Costa Rica,1,1,1,0,1,1,1,1,0,1,1
Cyprus,1,1,1,0,1,1,1,1,0,1,1
Czech Republic,2,2,2,2,2,2,2,2,2,2,2
Denmark,13,13,13,11,13,13,13,9,7,13,13
East Timor,2,2,2,0,2,2,2,2,0,2,2
Egypt,4,4,4,2,4,4,4,4,2,4,4
Finland,1,1,1,0,1,1,1,1,0,1,1
France,59,59,59,47,59,59,59,54,42,59,59
Germany,80,80,80,57,80,80,80,79,58,80,80
Ghana,1,1,1,0,1,1,1,1,0,1,1
Greece,2,2,2,2,2,2,2,2,2,2,2
Guatemala,2,2,2,1,2,2,2,2,1,2,2
Hungary,3,3,3,2,3,3,3,3,2,3,3
Iceland,1,1,1,1,1,1,1,1,1,1,1
India,4,4,4,3,4,4,4,4,3,4,4
Iran,1,1,1,0,1,1,1,1,0,1,1
Ireland,6,6,6,4,6,6,6,6,4,6,6
Israel,10,10,10,3,10,10,10,10,3,10,10
Italy,13,13,13,11,13,13,13,12,10,13,13
Japan,18,18,18,5,18,18,18,16,5,18,18
Kenya,1,1,1,1,1,1,1,1,1,1,1
"Korea, South",1,1,1,1,1,1,1,1,1,1,1
Liberia,2,2,2,0,2,2,2,2,0,2,2
Mexico,2,2,2,2,2,2,2,2,1,2,2
Myanmar (Burma),1,1,1,0,1,1,1,1,0,1,1
Netherlands,17,17,17,12,17,17,17,17,13,17,17
Nigeria,1,1,1,0,1,1,1,1,0,1,1
Norway,11,11,11,8,11,11,11,10,6,11,11
Pakistan,2,2,2,1,2,2,2,2,1,2,2
Palestinian Territory,1,1,1,1,1,1,1,1,1,1,1
Poland,5,5,5,4,5,5,5,5,4,5,5
Portugal,2,2,2,2,2,2,2,2,2,2,2
Russia,18,18,18,16,18,18,18,18,16,18,18
Saint Lucia,1,1,1,0,1,1,1,1,0,1,1
South Africa,7,7,7,4,7,7,7,7,4,7,7
Spain,6,6,6,6,6,6,6,6,6,6,6
Sweden,29,29,29,26,29,29,29,27,23,29,29
Switzerland,23,23,23,17,23,23,23,22,14,23,23
Taiwan,1,1,1,0,1,1,1,1,0,1,1
Turkey,1,1,1,0,1,1,1,1,0,1,1
United Kingdom,100,100,100,80,100,100,100,99,76,100,100
United States,338,338,338,183,338,338,338,330,171,338,338
Venezuela,1,1,1,1,1,1,1,1,1,1,1
Vietnam,1,1,1,1,1,1,1,1,1,1,1
Yemen,1,1,1,0,1,1,1,1,0,1,1
Yugoslavia,1,1,1,1,1,1,1,1,1,1,1

In [19]:
df

,award_age,category,country,date_of_birth,date_of_death,gender,link,name,place_of_birth,place_of_death,text,year
0,57,Physiology or Medicine,Argentina,1927-10-08T00:00:00.000Z,2002-03-24T00:00:00.000Z,male,http://en.wikipedia.org/wiki/C%C3%A9sar_Milstein,César Milstein,"Bahía Blanca , Argentina","Cambridge , England","César Milstein , Physiology or Medicine, 1984",1984
1,80,Peace,Belgium,1829-07-26T00:00:00.000Z,1912-10-06T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Auguste_Marie_Fra...,Auguste Beernaert,"Ostend , Netherlands (now Belgium )","Lucerne , Switzerland","Auguste Beernaert , Peace, 1909",1909
2,49,Literature,Belgium,1862-08-29T00:00:00.000Z,1949-05-06T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Maurice_Maeterlinck,Maurice Maeterlinck,"Ghent , Belgium","Nice , France","Maurice Maeterlinck , Literature, 1911",1911
3,59,Peace,Belgium,1854-04-22T00:00:00.000Z,1943-05-14T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Henri_La_Fontaine,Henri La Fontaine,Brussels,Belgium,"Henri La Fontaine , Peace, 1913",1913
4,49,Physiology or Medicine,Belgium,1870-06-13T00:00:00.000Z,1961-04-06T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Jules_Bordet,Jules Bordet,"Soignies, Belgium",None,"Jules Bordet , Physiology or Medicine, 1919",1919
5,46,Physiology or Medicine,Belgium,1892-03-28T00:00:00.000Z,1968-07-18T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Corneille_Heymans,Corneille Heymans,"Ghent , Flanders","Knokke , Flanders","Corneille Heymans , Physiology or Medicine, 1938",1938
6,48,Peace,Belgium,1910-02-10T00:00:00.000Z,1969-01-30T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Georges_Pire,Georges Pire,"Dinant , Belgium","Leuven , Belgium","Georges Pire , Peace, 1958",1958
7,75,Physiology or Medicine,Belgium,1899-08-24T00:00:00.000Z,1983-05-22T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Albert_Claude,Albert Claude,"Longlier, Neufchâteau, Belgium","Brussels , Belgium","Albert Claude , Physiology or Medicine, 1974",1974
8,57,Physiology or Medicine,Belgium,1917-10-02T00:00:00.000Z,2013-05-04T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Christian_de_Duve,Christian de Duve,"Thames Ditton, Surrey, United Kingdom","Grez-Doiceau, Belgium","Christian de Duve , born in the United Kingdo...",1974
9,60,Chemistry,Belgium,1917-01-25T00:00:00.000Z,2003-05-28T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Ilya_Prigogine,Ilya Prigogine,"Moscow , Russia","Brussels , Belgium","Ilya Prigogine , born in Russia , Chemistry, ...",1977
10,81,Physics,Belgium,1932-11-06T00:00:00.000Z,None,male,http://en.wikipedia.org/wiki/Fran%C3%A7ois_Eng...,François Englert,"Etterbeek , Brussels , Belgium",None,"François Englert , Physics, 2013",2013
11,60,Literature,Denmark,1857-06-02T00:00:00.000Z,1919-10-13T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Karl_Adolph_Gjell...,Karl Adolph Gjellerup,"Roholte vicarage at Præstø , Denmark","Klotzsche , Germany","Karl Adolph Gjellerup , Literature, 1917",1917
12,46,Physiology or Medicine,Denmark,1874-11-15T00:00:00.000Z,1949-09-13T00:00:00.000Z,male,http://en.wikipedia.org/wiki/August_Krogh,August Krogh,None,None,"August Krogh , Physiology or Medicine, 1920",1920
13,37,Physics,Denmark,1885-10-07T00:00:00.000Z,1962-11-18T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Niels_Bohr,Niels Bohr,"Copenhagen, Denmark","Copenhagen, Denmark","Niels Bohr , Physics, 1922",1922
14,59,Physiology or Medicine,Denmark,1867-04-23T00:00:00.000Z,1928-01-30T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Johannes_Andreas_...,Johannes Andreas Grib Fibiger,Silkeborg,Copenhagen,"Johannes Andreas Grib Fibiger , Physiology or ...",1926
15,48,Physiology or Medicine,Denmark,1895-02-21T00:00:00.000Z,1976-04-17T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Henrik_Dam,Henrik Dam,None,None,"Henrik Dam , Physiology or Medicine, 1943",1943
16,71,Literature,Denmark,1873-01-20T00:00:00.000Z,1950-11-25T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Johannes_Vilhelm_...,Johannes Vilhelm Jensen,"Farsø, Jutland, Denmark","Østerbro, Copenhagen, Denmark","Johannes Vilhelm Jensen , Literature, 1944",1944
17,49,Physics,Denmark,1926-07-09T00:00:00.000Z,None,male,http://en.wikipedia.org/wiki/Ben_Roy_Mottelson,Ben Roy Mottelson,"Chicago, Illinois",None,"Ben Roy Mottelson , Physics, 1975",1975
18,53,Physics,Denmark,1922-06-19T00:00:00.000Z,2009-09-08T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Aage_Bohr,Aage Bohr,"Copenhagen , Denmark","Copenhagen , Denmark","Aage Bohr , Physics, 1975",1975
19,73,Physiology or Medicine,Denmark,1911-12-23T00:00:00.000Z,1994-10-07T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Niels_Kaj_Jerne,Niels Kaj Jerne,None,None,"Niels Kaj Jerne , Physiology or Medicine, 1984",1984
20,79,Chemistry,Denmark,1918-10-08T00:00:00.000Z,None,male,http://en.wikipedia.org/wiki/Jens_Christian_Skou,Jens Christian Skou,"Lemvig , Denmark",None,"Jens Christian Skou , Chemistry, 1997",1997
21,69,Chemistry,Czech Republic,1890-12-20T00:00:00.000Z,1967-03-27T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Jaroslav_Heyrovsk...,Jaroslav Heyrovský,"Prague , Bohemia","Cambridge , England","Jaroslav Heyrovský , Chemistry, 1959",1959
22,83,Literature,Czech Republic,1901-09-23T00:00:00.000Z,1986-01-10T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Jaroslav_Seifert,Jaroslav Seifert,"Žižkov , Austria-Hungary","Prague , Czechoslovakia","Jaroslav Seifert , Literature, 1984",1984
23,62,Economics,Cyprus,1948-02-20T00:00:00.000Z,None,male,http://en.wikipedia.org/wiki/Christopher_A._Pi...,Christopher A. Pissarides,"Nicosia, Cyprus",None,"Christopher A. Pissarides , Economics, 2010",2010
24,38,Chemistry,France,1897-09-12T00:00:00.000Z,1956-03-17T00:00:00.000Z,female,http://en.wikipedia.org/wiki/Ir%C3%A8ne_Joliot...,Irène Joliot-Curie,"Paris, France","Paris, France","Irène Joliot-Curie , Chemistry, 1935",1935
25,35,Chemistry,France,1900-03-19T00:00:00.000Z,1958-08-14T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Fr%C3%A9d%C3%A9ri...,Frédéric Joliot,"Paris, France","Paris, France","Frédéric Joliot , Chemistry, 1935",1935
26,56,Literature,France,1881-03-23T00:00:00.000Z,1958-08-22T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Roger_Martin_du_Gard,Roger Martin du Gard,"Neuilly-sur-Seine , Hauts-de-Seine","Sérigny, Orne","Roger Martin du Gard , Literature, 1937",1937
27,78,Literature,France,1869-11-22T00:00:00.000Z,1951-02-19T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Andr%C3%A9_Gide,André Gide,Paris,Paris,"André Gide , Literature, 1947",1947
28,72,Peace,France,1879-07-01T00:00:00.000Z,1954-04-28T00:00:00.000Z,male,http://en.wikipedia.org/wiki/L%C3%A9on_Jouhaux,Léon Jouhaux,None,None,"Léon Jouhaux , Peace, 1951",1951
29,77,Peace,France,1875-01-14T00:00:00.000Z,1965-09-04T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Albert_Schweitzer,Albert Schweitzer,"Kaysersberg , Elsass-Lothringen , Germany (no...","Lambaréné , Gabon","Albert Schweitzer , born in Alsace, then in G...",1952
...,...,...,...,...,...,...,...,...,...,...,...,...
828,66,Peace,Bangladesh,1940-06-28T00:00:00.000Z,None,male,http://en.wikipedia.org/wiki/Muhammad_Yunus,Muhammad Yunus,"Chittagong , British India",None,"Muhammad Yunus , Peace, 2006",2006
829,54,Physics,Azerbaijan,1908-01-22T00:00:00.000Z,1968-04-01T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Lev_Landau,Lev Landau,Baku,Moscow,"Lev Landau , born in then Russian Empire, lau...",1962
830,43,Physics,Austria,1862-06-07T00:00:00.000Z,1947-05-20T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Philipp_Lenard,Philipp Lenard,"Pressburg , Austria-Hungary","Messelhausen , Germany","Philipp Lenard , born in then Austria-Hungary...",1905
831,62,Peace,Austria,1843-06-09T00:00:00.000Z,1914-06-21T00:00:00.000Z,female,http://en.wikipedia.org/wiki/Bertha_von_Suttner,Bertha von Suttner,"Prague , Austrian Empire","Vienna , Austria-Hungary","Bertha von Suttner , born in then Austria-Hun...",1905
832,47,Peace,Austria,1864-11-11T00:00:00.000Z,1921-05-05T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Alfred_Hermann_Fried,Alfred Hermann Fried,None,None,"Alfred Hermann Fried , Peace, 1911",1911
833,38,Physiology or Medicine,Austria,1876-04-22T00:00:00.000Z,1936-04-08T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Robert_B%C3%A1r%C...,Robert Bárány,"Vienna , Austria-Hungary","Uppsala , Sweden","Robert Bárány , Physiology or Medicine, 1914",1914
834,54,Chemistry,Austria,1869-09-03T00:00:00.000Z,1930-12-13T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Fritz_Pregl,Friderik Pregl,"Ljubljana , Austria Hungary","Graz , Austria","Friderik Pregl , born in then Austria-Hungary...",1923
835,60,Chemistry,Austria,1865-04-01T00:00:00.000Z,1929-09-23T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Richard_Adolf_Zsi...,Richard Adolf Zsigmondy,"Vienna , Austrian Empire","Göttingen , Germany","Richard Adolf Zsigmondy , Chemistry, 1925",1925
836,70,Physiology or Medicine,Austria,1857-03-07T00:00:00.000Z,1940-09-27T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Julius_Wagner-Jau...,Julius Wagner-Jauregg,"Wels, Austria",Vienna,"Julius Wagner-Jauregg , Physiology or Medicine...",1927
837,62,Physiology or Medicine,Austria,1868-06-14T00:00:00.000Z,1943-06-26T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Karl_Landsteiner,Karl Landsteiner,"Baden bei Wien , near Vienna (Austria)",New York City,"Karl Landsteiner , Physiology or Medicine, 1930",1930
838,46,Physics,Austria,1887-08-12T00:00:00.000Z,1961-01-04T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Erwin_Schr%C3%B6d...,Erwin Schrödinger,"Erdberg, Vienna, Austria","Vienna, Austria","Erwin Schrödinger , Physics, 1933",1933
839,53,Physics,Austria,1883-06-24T00:00:00.000Z,1964-12-17T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Victor_Francis_Hess,Victor Francis Hess,"Schloss Waldstein, Peggau , Austria","Mount Vernon, New York , USA","Victor Francis Hess , Physics, 1936",1936
840,45,Physics,Austria,1900-04-25T00:00:00.000Z,1958-12-15T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Wolfgang_Pauli,Wolfgang Pauli,"Vienna , Austria-Hungary","Zurich , Switzerland","Wolfgang Pauli , Physics, 1945",1945
841,48,Chemistry,Austria,1914-05-19T00:00:00.000Z,2002-02-06T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Max_F._Perutz,Max F. Perutz,"Vienna , Austria","Cambridge , England","Max F. Perutz , Chemistry, 1962",1962
842,70,Physiology or Medicine,Austria,1903-11-07T00:00:00.000Z,1989-02-27T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Konrad_Lorenz,Konrad Lorenz,"Vienna, Austria","Vienna, Austria","Konrad Lorenz , Physiology or Medicine, 1973",1973
843,75,Economics,Austria,1899-05-08T00:00:00.000Z,1992-03-23T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Friedrich_Hayek,Friedrich Hayek,"Vienna, Austria-Hungary","Freiburg, Germany","Friedrich Hayek , Economics, 1974",1974
844,58,Literature,Austria,1946-10-20T00:00:00.000Z,None,female,http://en.wikipedia.org/wiki/Elfriede_Jelinek,Elfriede Jelinek,"Mürzzuschlag , Styria , Austria",None,"Elfriede Jelinek , Literature, 2004",2004
845,47,Physiology or Medicine,Australia,1898-09-24T00:00:00.000Z,1968-02-21T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Howard_Walter_Florey,Sir Howard Florey,"Adelaide , South Australia","Oxford , United Kingdom","Sir Howard Florey , Physiology or Medicine, 1945",1945
846,61,Physiology or Medicine,Australia,1899-09-03T00:00:00.000Z,1985-08-31T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Frank_Macfarlane_...,Sir Frank Macfarlane Burnet,"Traralgon, Victoria","Port Fairy, Victoria","Sir Frank Macfarlane Burnet , Physiology or Me...",1960
847,60,Physiology or Medicine,Australia,1903-01-27T00:00:00.000Z,1997-05-02T00:00:00.000Z,male,http://en.wikipedia.org/wiki/John_Carew_Eccles,John Carew Eccles,"Melbourne , Australia","Tenero-Contra , Switzerland","John Carew Eccles , Physiology or Medicine, 1963",1963
848,61,Literature,Australia,1912-05-28T00:00:00.000Z,1990-09-30T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Patrick_White,Patrick White,"Knightsbridge , London","Sydney, Australia","Patrick White , born in the United Kingdom , ...",1973
849,74,Economics,Australia,1920-05-29T00:00:00.000Z,2000-08-09T00:00:00.000Z,male,http://en.wikipedia.org/wiki/John_Harsanyi,John Harsanyi,"Budapest , Hungary","Berkeley, California , USA","John Harsanyi , Economics, 1994",1994
850,56,Physiology or Medicine,Australia,1940-10-15T00:00:00.000Z,None,male,http://en.wikipedia.org/wiki/Peter_C._Doherty,Peter C. Doherty & Professor Rolf Zinkernagel,Brisbane,None,Peter C. Doherty & Professor Rolf Zinkernage...,1996
851,68,Physiology or Medicine,Australia,1937-06-11T00:00:00.000Z,None,male,http://en.wikipedia.org/wiki/Robin_Warren,J. Robin Warren,"Adelaide , Australia",None,"J. Robin Warren , Physiology or Medicine, 2005",2005
852,54,Physiology or Medicine,Australia,1951-09-30T00:00:00.000Z,None,male,http://en.wikipedia.org/wiki/Barry_Marshall,Barry Marshall,"Kalgoorlie, Western Australia",None,"Barry Marshall , Physiology or Medicine, 2005",2005
853,44,Physics,Australia,1967-02-24T00:00:00.000Z,None,male,http://en.wikipedia.org/wiki/Brian_P._Schmidt,Brian P. Schmidt,"Missoula, Montana",None,"Brian P. Schmidt , born in the United States ...",2011
854,58,Peace,Argentina,1878-11-01T00:00:00.000Z,1959-05-05T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Carlos_Saavedra_L...,Carlos Saavedra Lamas,"Buenos Aires , Argentina","Buenos Aires, Argentina","Carlos Saavedra Lamas , Peace, 1936",1936
855,60,Physiology or Medicine,Argentina,1887-04-10T00:00:00.000Z,1971-09-21T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Bernardo_Houssay,Bernardo Houssay,"Buenos Aires , Argentina","Buenos Aires , Argentina","Bernardo Houssay , Physiology or Medicine, 1947",1947
856,64,Chemistry,Argentina,1906-09-06T00:00:00.000Z,1987-12-02T00:00:00.000Z,male,http://en.wikipedia.org/wiki/Luis_Federico_Leloir,Luis Federico Leloir,"Paris , France","Buenos Aires , Argentina","Luis Federico Leloir , Chemistry, 1970",1970
857,49,Peace,Argentina,1931-11-26T00:00:00.000Z,None,male,http://en.wikipedia.org/wiki/Adolfo_P%C3%A9rez...,Adolfo Pérez Esquivel,Buenos Aires,None,"Adolfo Pérez Esquivel , Peace, 1980",1980

In [20]:
df[['award_age','name','country']]
#df.award_age returns a series

,award_age,name,country
0,57,César Milstein,Argentina
1,80,Auguste Beernaert,Belgium
2,49,Maurice Maeterlinck,Belgium
3,59,Henri La Fontaine,Belgium
4,49,Jules Bordet,Belgium
5,46,Corneille Heymans,Belgium
6,48,Georges Pire,Belgium
7,75,Albert Claude,Belgium
8,57,Christian de Duve,Belgium
9,60,Ilya Prigogine,Belgium
10,81,François Englert,Belgium
11,60,Karl Adolph Gjellerup,Denmark
12,46,August Krogh,Denmark
13,37,Niels Bohr,Denmark
14,59,Johannes Andreas Grib Fibiger,Denmark
15,48,Henrik Dam,Denmark
16,71,Johannes Vilhelm Jensen,Denmark
17,49,Ben Roy Mottelson,Denmark
18,53,Aage Bohr,Denmark
19,73,Niels Kaj Jerne,Denmark
20,79,Jens Christian Skou,Denmark
21,69,Jaroslav Heyrovský,Czech Republic
22,83,Jaroslav Seifert,Czech Republic
23,62,Christopher A. Pissarides,Cyprus
24,38,Irène Joliot-Curie,France
25,35,Frédéric Joliot,France
26,56,Roger Martin du Gard,France
27,78,André Gide,France
28,72,Léon Jouhaux,France
29,77,Albert Schweitzer,France
...,...,...,...
828,66,Muhammad Yunus,Bangladesh
829,54,Lev Landau,Azerbaijan
830,43,Philipp Lenard,Austria
831,62,Bertha von Suttner,Austria
832,47,Alfred Hermann Fried,Austria
833,38,Robert Bárány,Austria
834,54,Friderik Pregl,Austria
835,60,Richard Adolf Zsigmondy,Austria
836,70,Julius Wagner-Jauregg,Austria
837,62,Karl Landsteiner,Austria
838,46,Erwin Schrödinger,Austria
839,53,Victor Francis Hess,Austria
840,45,Wolfgang Pauli,Austria
841,48,Max F. Perutz,Austria
842,70,Konrad Lorenz,Austria
843,75,Friedrich Hayek,Austria
844,58,Elfriede Jelinek,Austria
845,47,Sir Howard Florey,Australia
846,61,Sir Frank Macfarlane Burnet,Australia
847,60,John Carew Eccles,Australia
848,61,Patrick White,Australia
849,74,John Harsanyi,Australia
850,56,Peter C. Doherty & Professor Rolf Zinkernagel,Australia
851,68,J. Robin Warren,Australia
852,54,Barry Marshall,Australia
853,44,Brian P. Schmidt,Australia
854,58,Carlos Saavedra Lamas,Argentina
855,60,Bernardo Houssay,Argentina
856,64,Luis Federico Leloir,Argentina
857,49,Adolfo Pérez Esquivel,Argentina

In [24]:
#show female winners
df[(df.gender == 'female') & (df.country == 'France')][['name','gender','category']]

                         name  gender                category
24         Irène Joliot-Curie  female               Chemistry
616    Marie Skłodowska-Curie  female               Chemistry
791  Françoise Barré-Sinoussi  female  Physiology or Medicine

In [34]:
ndf = df.groupby('country').count()[['category']]
ndf

                       category
country
Argentina                     5
Australia                     9
Austria                      15
Azerbaijan                    1
Bangladesh                    1
Belgium                      10
Canada                       11
Chile                         2
China                         5
Colombia                      1
Costa Rica                    1
Cyprus                        1
Czech Republic                2
Denmark                      13
East Timor                    2
Egypt                         4
Finland                       1
France                       59
Germany                      80
Ghana                         1
Greece                        2
Guatemala                     2
Hungary                       3
Iceland                       1
India                         4
Iran                          1
Ireland                       6
Israel                       10
Italy                        13
Japan                        18
Kenya                         1
Korea, South                  1
Liberia                       2
Mexico                        2
Myanmar (Burma)               1
Netherlands                  17
Nigeria                       1
Norway                       11
Pakistan                      2
Palestinian Territory         1
Poland                        5
Portugal                      2
Russia                       18
Saint Lucia                   1
South Africa                  7
Spain                         6
Sweden                       29
Switzerland                  23
Taiwan                        1
Turkey                        1
United Kingdom              100
United States               338
Venezuela                     1
Vietnam                       1
Yemen                         1
Yugoslavia                    1

In [32]:
ndf.columns = ['number of winners']
ndf.sort_values('number of winners', ascending = False)

                       number of winners
country
United States                        338
United Kingdom                       100
Germany                               80
France                                59
Sweden                                29
Switzerland                           23
Japan                                 18
Russia                                18
Netherlands                           17
Austria                               15
Italy                                 13
Denmark                               13
Norway                                11
Canada                                11
Israel                                10
Belgium                               10
Australia                              9
South Africa                           7
Ireland                                6
Spain                                  6
Poland                                 5
Argentina                              5
China                                  5
India                                  4
Egypt                                  4
Hungary                                3
Liberia                                2
Portugal                               2
Czech Republic                         2
Chile                                  2
Pakistan                               2
East Timor                             2
Mexico                                 2
Greece                                 2
Guatemala                              2
Costa Rica                             1
Turkey                                 1
Bangladesh                             1
Taiwan                                 1
Azerbaijan                             1
Venezuela                              1
Vietnam                                1
Yemen                                  1
Colombia                               1
Palestinian Territory                  1
Saint Lucia                            1
Cyprus                                 1
Iceland                                1
Nigeria                                1
Myanmar (Burma)                        1
Korea, South                           1
Kenya                                  1
Finland                                1
Ghana                                  1
Iran                                   1
Yugoslavia                             1

In [33]:
ndf[ndf.country.str.startswith('S')]

AttributeError: 'DataFrame' object has no attribute 'country'